# ==================================================================================================================== #
#  Workspace .gitignote File
# ==================================================================================================================== #

# ==================================================================================================================== #
#  Hardware
# ==================================================================================================================== #

# ==================================================================================================================== #
#  Firmware
# ==================================================================================================================== #

# ==================================================================================================================== #
#  Software
# ==================================================================================================================== #

# ==================================================================================================================== #
#  General
# ==================================================================================================================== #

venv/

# ==================================================================================================================== #